*{
    margin: 0;
    padding: 0;

}
.navigation{
    position: absolute;
    top: 4.6%;
    width: 100%;
    z-index: 2; 

}
.navifation-inner{

}
.main-navigation{
    color: crimson;
    display: none;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: black;
    opacity: 0.9;
}
.main-navigation-ul{

}
.burguer-container{

}
.bar1, .bar2, .bar3{

}
